* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
  border-bottom: 2px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  width: 30%;
  display: flex;
  align-items: center;
}
.logo img {
  height: 160px;
  margin-right: 10px;
}
.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: #1d4ed8;
}
.right-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-bar {
  width: 100%;
  display: flex;
}
.nav {
  background-color: #eff2f7;
  display: flex;
  gap: 15px;
  padding: 16px 6px;
  width: 80%;
}
.nav a {
  text-decoration: none;
  color: #1d4ed8;
  font-weight: bold;
  padding: 5px 10px;
}
.top-bar {
  display: flex;
  width: 100%;
  height: 100px;
  background: #c00;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  font-weight: bold;
}
.top-bar div {
  width: 20%;
  text-align: center;
}
.contact {
  text-align: center;
  font-size: 16px;
  padding: 12px;
  width: 20%;
}

/* Fotter */
.footer {
  padding: 40px 0;
  background-color: #000;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/window-installers2.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: start;
  color: white;
  padding: 120px;
}

.hero h1 {
  font-size: 2.8em;
  margin-bottom: 20px;
}
.hero .content {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero button {
  width: fit-content;
  padding: 16px 20px;
  background-color: #cc0000;
  border: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}

.middle {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 120px;
  gap: 20px;
}
.middle h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #1e3c7e;
  font-weight: 100;
  text-align: center;
  width: 80%;
}
.middle h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #1d1f22;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  font-weight: lighter;
  line-height: 1.2;
}
.middle button {
  width: fit-content;
  padding: 16px 20px;
  background-color: #1e3c7e;
  border: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}

.products {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  padding: 0px 0px 140px 0px;
  gap: 20px;
}
.products .windows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 180px;
  gap: 20px;
}
.products .windows .a-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin: 10px;
  width: 100%;
}
.windows img {
  width: 380px;
  height: 360px;
  object-fit: cover;
}

.getQuote {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/double-sliding-windows.webp") no-repeat center center/cover;
  height: fit-content;
  display: grid;
  grid-template-columns: 50% 35%;
  gap: 24px;
  justify-content: center;
  color: white;
  padding: 120px;
}
.getQuote .content {
  grid-column: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1d4ed8;
  width: 100%;
  padding: 15px;
  height: auto;
  border-radius: 8px;
  gap: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.form .name {
  display: flex;
  gap: 10px;
}
.form p {
  color: white;
  font-size: 12px;
  font-weight: 500;
}
.form .checkbox {
  display: flex;
  gap: 5px;
}
.checkbox input {
  width: 24px;
  color: white;
  font-size: 12px;
  font-weight: 500;
}
.submit {
  margin-top: 20px;
  background-color: #ddd;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  width: fit-content;
}
.getQuote .content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.getQuote .content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 100;
  text-align: start;
  width: 80%;
}
.getQuote .checks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.getQuote .content .checks div {
  display: flex;
  font-size: 1.5rem;
  gap: 10px;
  align-items: center;
}
.checks div input {
  width: 24px;
  height: 24px;
}
.checks div label {
  font-size: 1.8rem;
}
.getQuote .content button {
  width: fit-content;
  background-color: #cc0000;
  padding: 24px 40px;
  border: none;
  color: white;
  font-size: 2rem;
  text-align: start;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  gap: 20px;
  padding: 240px;
  background-color: #1e3c7e;
  color: #fff;
  font-size: 1.3rem;
}

.cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 64px 220px;
  width: 100%;
  border: 1px solid #000;
  height: 1500px;
}
.cards h1 {
  font-size: 2.5em;
  color: #1e3c7e;
  font-weight: 100;
  text-align: center;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  width: fit-content;
}
.card .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.card .content h1 {
  font-size: 1.8rem;
  color: #1e3c7e;
}
.card .content h3 {
  font-size: 1.6rem;
  color: #555;
  font-weight: lighter;
}
.card img {
  width: 400px;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
}

.cta {
  background: linear-gradient(rgba(30, 60, 126, 0.8), rgba(30, 60, 126, 0.8)),
    url("./images/double-sliding-windows.webp") no-repeat center center/cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 20px;
}
.cta h1 {
  width: 60%;
}
.cta button {
  width: fit-content;
  padding: 16px 20px;
  background-color: #cc0000;
  border: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}
.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-column h3 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 8px 0;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  opacity: 1;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-color: #444;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.3s;
}

.social-btn:hover {
  background-color: #555;
}

.social-btn i {
  line-height: 40px;
}
